# 1.Cargando Datos

In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [81]:
#lectura de datos en Python
train = pd.read_csv('./../data/train2.csv', encoding='latin-1')

In [83]:
train.head()

,ï»¿ref_area.label,indicator.label,source.label,sex.label,classif1.label,time,obs_value,obs_status.label,note_indicator.label,note_source.label
0,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,Unreliable,NaN,Repository: ILO-STATISTICS - Micro data proces...

# 2.Explorando datos

In [84]:
#Columnas que tienen los datos
train.columns

Index(['ï»¿ref_area.label', 'indicator.label', 'source.label', 'sex.label',
       'classif1.label', 'time', 'obs_value', 'obs_status.label',
       'note_indicator.label', 'note_source.label'],
      dtype='object')

In [85]:
#TAMAÑO DE DATOS
train.shape

(1041, 10)

In [86]:
#valores nulos
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1041 entries, 0 to 1040
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ï»¿ref_area.label     1041 non-null   object
 1   indicator.label       1041 non-null   object
 2   source.label          1041 non-null   object
 3   sex.label             1041 non-null   object
 4   classif1.label        1041 non-null   object
 5   time                  1041 non-null   int64
 6   obs_value             945 non-null    float64
 7   obs_status.label      244 non-null    object
 8   note_indicator.label  0 non-null      float64
 9   note_source.label     1041 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 81.5+ KB

In [87]:
# como se distribuyen las variables numéricas
train.describe()

              time     obs_value  note_indicator.label
count  1041.000000    945.000000                   0.0
mean   2018.497598    289.717168                   NaN
std       1.114694   1416.825021                   NaN
min    2017.000000      0.712000                   NaN
25%    2018.000000      9.576000                   NaN
50%    2018.000000     25.887000                   NaN
75%    2019.000000     94.656000                   NaN
max    2020.000000  18049.074000                   NaN

In [88]:
# como se comportan las variables categóricas
train.describe(include=['O'])

,ï»¿ref_area.label,indicator.label,source.label,sex.label,classif1.label,obs_status.label,note_source.label
count,1041,1041,1041,1041,1041,244,1041
unique,1,1,1,3,89,1,1
top,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",Unreliable,Repository: ILO-STATISTICS - Micro data proces...
freq,1041,1041,1041,352,12,244,1041

In [89]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1041 entries, 0 to 1040
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ï»¿ref_area.label     1041 non-null   object
 1   indicator.label       1041 non-null   object
 2   source.label          1041 non-null   object
 3   sex.label             1041 non-null   object
 4   classif1.label        1041 non-null   object
 5   time                  1041 non-null   int64
 6   obs_value             945 non-null    float64
 7   obs_status.label      244 non-null    object
 8   note_indicator.label  0 non-null      float64
 9   note_source.label     1041 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 81.5+ KB

In [90]:
#CANTIDAD DE DATOS NULOS POR COLUMNA
train.isnull().sum()

ï»¿ref_area.label          0
indicator.label            0
source.label               0
sex.label                  0
classif1.label             0
time                       0
obs_value                 96
obs_status.label         797
note_indicator.label    1041
note_source.label          0
dtype: int64

In [91]:
train.shape

(1041, 10)

In [92]:
train.columns

Index(['ï»¿ref_area.label', 'indicator.label', 'source.label', 'sex.label',
       'classif1.label', 'time', 'obs_value', 'obs_status.label',
       'note_indicator.label', 'note_source.label'],
      dtype='object')

In [93]:
train.columns =[ 'Pais','Indicador','Fuente', 'Sexo','Clasificacion', 'Año','Cantidad','status','Filtro','Etiqueta']
train.columns

Index(['Pais', 'Indicador', 'Fuente', 'Sexo', 'Clasificacion', 'Año',
       'Cantidad', 'status', 'Filtro', 'Etiqueta'],
      dtype='object')

In [94]:
train

,Pais,Indicador,Fuente,Sexo,Clasificacion,Año,Cantidad,status,Filtro,Etiqueta
0,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,Unreliable,NaN,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...
1036,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,19.962,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1037,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,149.950,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1038,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,220.138,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1039,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN,Unreliable,NaN,Repository: ILO-STATISTICS - Micro data proces...
1040,Peru,Employment by sex and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN,Unreliable,NaN,Repository: ILO-STATISTICS - Micro data proces...

In [95]:
train = train.dropna(how='all') #ELIMINAMOS FILAS QUE TENGAN TODOS SUS VALORES NULOS
train = train[train['Clasificacion'].notna()]#ELIMINAMOS FILAS QUE TENGAN VALOR NULO EN LA COLUMNA OCUPACIONES
train = train[train['Cantidad'].notna()]
train = train.drop(columns=['Indicador','Fuente' ,'status','Etiqueta'])#eliminamos columnas irrelevantes
train

,Pais,Sexo,Clasificacion,Año,Cantidad,Filtro
0,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN
1,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN
2,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN
3,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN
4,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,NaN
...,...,...,...,...,...,...
1034,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,11.406,NaN
1035,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,24.282,NaN
1036,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,19.962,NaN
1037,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,149.950,NaN
1038,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,220.138,NaN

In [96]:
train['Filtro'] = 0.0
train

,Pais,Sexo,Clasificacion,Año,Cantidad,Filtro
0,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,0.0
1,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,0.0
2,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,0.0
3,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,0.0
4,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,0.0
...,...,...,...,...,...,...
1034,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,11.406,0.0
1035,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,24.282,0.0
1036,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,19.962,0.0
1037,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,149.950,0.0
1038,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,220.138,0.0

In [97]:
train.isnull().sum()#no hay nulos

Pais             0
Sexo             0
Clasificacion    0
Año              0
Cantidad         0
Filtro           0
dtype: int64

In [98]:
train.columns

Index(['Pais', 'Sexo', 'Clasificacion', 'Año', 'Cantidad', 'Filtro'], dtype='object')

In [103]:
from textblob.classifiers import NaiveBayesClassifier

with open('data_entrenada.json', 'r') as fp: 
    clear=NaiveBayesClassifier(fp, format="json")  

i=0
for f in range(train.shape[0]):
    try:
        estado = clear.classify(train.Actividad_Economica[f]) 
        if (estado =="1"):      
            i = i + 1           
            train.Filtro[f]=1         

    except:
        Exception
print(i)
train=train[train["Filtro"]>0]

0

In [104]:
train=train.sort_values("Clasificacion",False)
train

C:\Users\lenri\AppData\Local\Temp/ipykernel_16396/582062700.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_values except for the argument 'by' will be keyword-only
  train=train.sort_values("Clasificacion",False)

,Pais,Sexo,Clasificacion,Año,Cantidad,Filtro
51,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,16.165,1.0
486,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,3.327,1.0
574,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,19.860,1.0
225,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,3.257,1.0
663,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,13.799,1.0
312,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,17.956,1.0
748,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,6.062,1.0
401,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,14.629,1.0
138,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,12.908,1.0
835,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,24.827,1.0
921,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,18.942,1.0
837,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,24.532,1.0
576,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,29.895,1.0
923,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,20.413,1.0
403,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,26.828,1.0
750,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,7.145,1.0
665,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,22.750,1.0
488,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,9.316,1.0
314,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,36.144,1.0
53,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,20.767,1.0
140,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17.145,1.0
227,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,3.622,1.0
494,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,5.838,1.0
147,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,8.871,1.0
757,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,7.790,1.0
583,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,18.009,1.0
233,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4.916,1.0
672,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,10.219,1.0
844,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,9.604,1.0
60,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,13.787,1.0
410,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,12.491,1.0
929,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,6.149,1.0
321,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,18.329,1.0
758,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,17.535,1.0
61,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,49.831,1.0
845,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,65.097,1.0
322,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,65.326,1.0
148,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,39.954,1.0
584,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,68.124,1.0
495,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,18.737,1.0
930,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,49.639,1.0
234,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,9.877,1.0
411,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,46.589,1.0
673,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,50.589,1.0
674,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,5.530,1.0
149,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,6.709,1.0
585,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,8.300,1.0
759,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2019,2.770,1.0
62,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,9.224,1.0
412,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,1.408,1.0
846,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,5.520,1.0
235,Peru,Sex: Female,"Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.515,1.0
323,Peru,Sex: Total,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,2.868,1.0
931,Peru,Sex: Male,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,3.989,1.0

In [105]:
train.to_csv('data_filtrada1.csv', index=False) ##se exporta el dataframe a un csv