In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#lectura de datos en Python
train = pd.read_csv('./../data/train2.csv')

In [3]:
train.head()

,ref_area.label,indicator.label,source.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ref_area.label        1028 non-null   object
 1   indicator.label       1028 non-null   object
 2   source.label          1028 non-null   object
 3   classif1.label        1028 non-null   object
 4   classif2.label        1028 non-null   object
 5   time                  1028 non-null   int64
 6   obs_value             920 non-null    float64
 7   obs_status.label      252 non-null    object
 8   note_classif.label    0 non-null      float64
 9   note_indicator.label  0 non-null      float64
 10  note_source.label     1028 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 88.5+ KB

In [5]:
#CANTIDAD DE DATOS NULOS POR COLUMNA
train.isnull().sum()

ref_area.label             0
indicator.label            0
source.label               0
classif1.label             0
classif2.label             0
time                       0
obs_value                108
obs_status.label         776
note_classif.label      1028
note_indicator.label    1028
note_source.label          0
dtype: int64

In [6]:
train.shape

(1028, 11)

In [7]:
train.columns

Index(['ref_area.label', 'indicator.label', 'source.label', 'classif1.label',
       'classif2.label', 'time', 'obs_value', 'obs_status.label',
       'note_classif.label', 'note_indicator.label', 'note_source.label'],
      dtype='object')

In [8]:
train.columns = ['Pais', 'Indicador', 'Fuente', 'Edad', 'Actividad_Economica',
       'Anio', 'Obs1', 'Obs2', 'Filtro', 'Obs3', 'Obs4']
train.columns

Index(['Pais', 'Indicador', 'Fuente', 'Edad', 'Actividad_Economica', 'Anio',
       'Obs1', 'Obs2', 'Filtro', 'Obs3', 'Obs4'],
      dtype='object')

In [9]:
train

,Pais,Indicador,Fuente,Edad,Actividad_Economica,Anio,Obs1,Obs2,Filtro,Obs3,Obs4
0,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...
1023,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,63.417,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1024,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,91.845,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1025,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,229.629,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1026,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,190.778,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1027,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...

In [10]:
train = train.drop(columns=['Pais', 'Indicador', 'Fuente', 'Obs1', 'Obs2', 'Obs3', 'Obs4' ])
train.columns

Index(['Edad', 'Actividad_Economica', 'Anio', 'Filtro'], dtype='object')

In [11]:
train

,Edad,Actividad_Economica,Anio,Filtro
0,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,NaN
1,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,NaN
2,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,NaN
3,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,NaN
4,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,NaN
...,...,...,...,...
1023,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN
1024,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN
1025,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN
1026,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN
1027,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN

In [12]:
train=train.fillna({'Filtro':0})

In [13]:
train

,Edad,Actividad_Economica,Anio,Filtro
0,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.0
1,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.0
2,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.0
3,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.0
4,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.0
...,...,...,...,...
1023,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,0.0
1024,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,0.0
1025,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,0.0
1026,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,0.0
1027,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,0.0

In [14]:
train.isnull().sum()

Edad                   0
Actividad_Economica    0
Anio                   0
Filtro                 0
dtype: int64

In [15]:
from textblob.classifiers import NaiveBayesClassifier

with open('data_entrenada.json', 'r') as fp: 
    clear=NaiveBayesClassifier(fp, format="json")  

i=0
for f in range(train.shape[0]):
    try:
        estado = clear.classify(train.Actividad_Economica[f]) 
        if (estado =="1"):      
            i = i + 1           
            train.Filtro[f]=1         

    except:
        Exception
print(i)
train=train[train["Filtro"]>0]

c:\users\anderson\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

12

In [16]:
train=train.sort_values("Actividad_Economica",False)
train

,Edad,Actividad_Economica,Anio,Filtro
53,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.0
140,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.0
224,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.0
312,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,1.0
398,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,1.0
484,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,1.0
572,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,1.0
656,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,1.0
743,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,1.0
829,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,1.0
910,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,1.0
995,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,1.0

In [17]:
train.to_csv('data_filtrada.csv', index=False) ##se exporta el dataframe a un csv