In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [103]:
#lectura de datos en Python
train = pd.read_csv('./../data/train2.csv')

In [104]:
train.head()

,ref_area.label,indicator.label,source.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...

In [105]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ref_area.label        1028 non-null   object
 1   indicator.label       1028 non-null   object
 2   source.label          1028 non-null   object
 3   classif1.label        1028 non-null   object
 4   classif2.label        1028 non-null   object
 5   time                  1028 non-null   int64
 6   obs_value             920 non-null    float64
 7   obs_status.label      252 non-null    object
 8   note_classif.label    0 non-null      float64
 9   note_indicator.label  0 non-null      float64
 10  note_source.label     1028 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 88.5+ KB

In [106]:
#CANTIDAD DE DATOS NULOS POR COLUMNA
train.isnull().sum()

ref_area.label             0
indicator.label            0
source.label               0
classif1.label             0
classif2.label             0
time                       0
obs_value                108
obs_status.label         776
note_classif.label      1028
note_indicator.label    1028
note_source.label          0
dtype: int64

In [90]:
train.shape

(1028, 11)

In [107]:
train.columns

Index(['ref_area.label', 'indicator.label', 'source.label', 'classif1.label',
       'classif2.label', 'time', 'obs_value', 'obs_status.label',
       'note_classif.label', 'note_indicator.label', 'note_source.label'],
      dtype='object')

In [108]:
train.columns = ['Pais', 'Indicador', 'Fuente', 'Edad', 'Actividad_Economica',
       'Anio', 'Cantidad', 'Obs2', 'Filtro', 'Obs3', 'Obs4']
train.columns

Index(['Pais', 'Indicador', 'Fuente', 'Edad', 'Actividad_Economica', 'Anio',
       'Cantidad', 'Obs2', 'Filtro', 'Obs3', 'Obs4'],
      dtype='object')

In [109]:
train

,Pais,Indicador,Fuente,Edad,Actividad_Economica,Anio,Cantidad,Obs2,Filtro,Obs3,Obs4
0,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...
1023,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,63.417,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1024,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,91.845,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1025,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,229.629,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1026,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,190.778,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1027,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,NaN,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...

In [111]:
train = train.drop(columns=['Pais', 'Indicador', 'Fuente', 'Obs2', 'Obs3', 'Obs4' ])
train = train[train['Cantidad'].notna()]
train.columns

Index(['Edad', 'Actividad_Economica', 'Anio', 'Cantidad', 'Filtro'], dtype='object')

In [112]:
train

,Edad,Actividad_Economica,Anio,Cantidad,Filtro
0,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,NaN
1,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,NaN
2,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,NaN
3,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,NaN
4,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,NaN
...,...,...,...,...,...
1022,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,25.215,NaN
1023,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,63.417,NaN
1024,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,91.845,NaN
1025,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,229.629,NaN
1026,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,190.778,NaN

In [113]:
train=train.fillna({'Filtro':0})

In [114]:
train

,Edad,Actividad_Economica,Anio,Cantidad,Filtro
0,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,17479.817,0.0
1,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,4441.899,0.0
2,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,21.865,0.0
3,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,98.687,0.0
4,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,2.211,0.0
...,...,...,...,...,...
1022,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,25.215,0.0
1023,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,63.417,0.0
1024,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,91.845,0.0
1025,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,229.629,0.0
1026,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,190.778,0.0

In [115]:
train.isnull().sum()

Edad                   0
Actividad_Economica    0
Anio                   0
Cantidad               0
Filtro                 0
dtype: int64

In [116]:
from textblob.classifiers import NaiveBayesClassifier

with open('data_entrenada.json', 'r') as fp: 
    clear=NaiveBayesClassifier(fp, format="json")  

i=0
for f in range(train.shape[0]):
    try:
        estado = clear.classify(train.Actividad_Economica[f]) 
        if (estado =="1"):      
            i = i + 1           
            train.Filtro[f]=1         

    except:
        Exception
print(i)
train=train[train["Filtro"]>0]

c:\users\anderson\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

47

In [117]:
train=train.sort_values("Actividad_Economica",False)
train

,Edad,Actividad_Economica,Anio,Cantidad,Filtro
51,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,16.165,1.0
482,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,16.237,1.0
396,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,1.719,1.0
654,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,5.249,1.0
310,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,17.956,1.0
222,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,13.150,1.0
827,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,24.827,1.0
741,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,14.611,1.0
138,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,3.015,1.0
908,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,5.781,1.0
570,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,19.860,1.0
743,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,26.692,1.0
910,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,6.070,1.0
829,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,24.532,1.0
312,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,36.144,1.0
656,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,3.202,1.0
140,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.494,1.0
224,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,19.274,1.0
398,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,6.401,1.0
572,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,29.895,1.0
53,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,20.767,1.0
484,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,29.744,1.0
579,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,18.009,1.0
750,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,15.654,1.0
836,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,9.604,1.0
491,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,15.430,1.0
231,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,13.213,1.0
60,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,13.787,1.0
319,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,18.329,1.0
837,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,65.097,1.0
61,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,49.831,1.0
147,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,9.021,1.0
751,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,55.724,1.0
232,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,40.809,1.0
492,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,54.892,1.0
663,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,12.400,1.0
320,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,65.326,1.0
580,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,68.124,1.0
406,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,10.434,1.0
917,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,9.419,1.0
493,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,2.358,1.0
752,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,6.216,1.0
581,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,8.300,1.0
62,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,9.224,1.0
321,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,2.868,1.0
838,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,5.520,1.0
233,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,8.305,1.0

In [118]:
train.to_csv('data_filtrada.csv', index=False) ##se exporta el dataframe a un csv

In [31]:
train

,Edad,Actividad_Economica,Anio,Filtro
1,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
172,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
88,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
185,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
101,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
14,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
140,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
53,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
224,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
68,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
154,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0
239,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0

In [37]:
train["Filtro"]=0

In [77]:
train['Cantidad'] = train['Cantidad'].apply(lambda x: x*1000)