# 1. Cargando Archivo con datos

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [63]:
#lectura de datos en Python
train = pd.read_csv('./../data/train2.csv', encoding='latin-1')

In [64]:
train.head()

,ï»¿ref_area.label,indicator.label,source.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,4851.473,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
1,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,1418.942,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
2,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,12.348,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
3,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,7.957,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
4,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.023,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...

## 2. Explorando datos

In [65]:
# que columnas tienen los datos?
train.columns

Index(['ï»¿ref_area.label', 'indicator.label', 'source.label',
       'classif1.label', 'classif2.label', 'time', 'obs_value',
       'obs_status.label', 'note_classif.label', 'note_indicator.label',
       'note_source.label'],
      dtype='object')

In [66]:
# qué tamaño tienen los datos?
train.shape

(17517, 11)

In [67]:
# hay valores nulos en los datos?
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17517 entries, 0 to 17516
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ï»¿ref_area.label     17517 non-null  object
 1   indicator.label       17517 non-null  object
 2   source.label          17517 non-null  object
 3   classif1.label        17517 non-null  object
 4   classif2.label        17517 non-null  object
 5   time                  17517 non-null  int64
 6   obs_value             16429 non-null  float64
 7   obs_status.label      4873 non-null   object
 8   note_classif.label    0 non-null      float64
 9   note_indicator.label  2417 non-null   object
 10  note_source.label     17517 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 1.5+ MB

In [68]:
# como se distribuyen las variables numéricas
train.describe()

               time     obs_value  note_classif.label
count  17517.000000  16429.000000                 0.0
mean    2015.250785    380.312685                 NaN
std        3.029158   3178.961381                 NaN
min     2010.000000      0.005000                 NaN
25%     2013.000000      4.251000                 NaN
50%     2015.000000     18.053000                 NaN
75%     2018.000000     98.344000                 NaN
max     2020.000000  93491.749000                 NaN

In [69]:
# como se comportan las variables categóricas
train.describe(include=['O'])

,ï»¿ref_area.label,indicator.label,source.label,classif1.label,classif2.label,obs_status.label,note_indicator.label,note_source.label
count,17517,17517,17517,17517,17517,4873,2417,17517
unique,10,1,12,3,153,2,2,3
top,Peru,Employment by age and economic activity - ISIC...,HS - Encuesta Nacional de Hogares,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",Unreliable,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
freq,2840,17517,2840,5942,156,2519,2165,16497

In [70]:
#CANTIDAD DE DATOS NULOS POR COLUMNA
train.isnull().sum()

ï»¿ref_area.label           0
indicator.label             0
source.label                0
classif1.label              0
classif2.label              0
time                        0
obs_value                1088
obs_status.label        12644
note_classif.label      17517
note_indicator.label    15100
note_source.label           0
dtype: int64

In [71]:
#traemos las cilumnas para cambiarlas
train.columns

Index(['ï»¿ref_area.label', 'indicator.label', 'source.label',
       'classif1.label', 'classif2.label', 'time', 'obs_value',
       'obs_status.label', 'note_classif.label', 'note_indicator.label',
       'note_source.label'],
      dtype='object')

In [72]:
#asignamos nombres en las columnas
train.columns =[ 'Pais','Indicador','Fuente','Clasificacion 1','Clasificacion', 'Año','FILTRO','status','nota clasificacion','nota indicador','Etiqueta']
train.columns

Index(['Pais', 'Indicador', 'Fuente', 'Clasificacion 1', 'Clasificacion',
       'Año', 'FILTRO', 'status', 'nota clasificacion', 'nota indicador',
       'Etiqueta'],
      dtype='object')

In [73]:
#traemos los datos
train

,Pais,Indicador,Fuente,Clasificacion 1,Clasificacion,Año,FILTRO,status,nota clasificacion,nota indicador,Etiqueta
0,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,4851.473,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
1,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,1418.942,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
2,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,12.348,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
3,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,7.957,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
4,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.023,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...
17512,"Venezuela, Bolivarian Republic of",Employment by age and economic activity - ISIC...,LFS - Encuesta de Hogares por Muestreo,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,178.533,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
17513,"Venezuela, Bolivarian Republic of",Employment by age and economic activity - ISIC...,LFS - Encuesta de Hogares por Muestreo,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,746.179,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
17514,"Venezuela, Bolivarian Republic of",Employment by age and economic activity - ISIC...,LFS - Encuesta de Hogares por Muestreo,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,458.884,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
17515,"Venezuela, Bolivarian Republic of",Employment by age and economic activity - ISIC...,LFS - Encuesta de Hogares por Muestreo,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,3.493,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
17516,"Venezuela, Bolivarian Republic of",Employment by age and economic activity - ISIC...,LFS - Encuesta de Hogares por Muestreo,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,115.054,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...

In [75]:
train = train.dropna(how='all') #ELIMINAMOS FILAS QUE TENGAN TODOS SUS VALORES NULOS
train = train.drop(columns=['Indicador','Fuente' ,'status','nota clasificacion','nota indicador','Etiqueta','Clasificacion 1'])#eliminamos columnas irrelevantes
train

,Pais,Clasificacion,Año,FILTRO
0,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,4851.473
1,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,1418.942
2,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,12.348
3,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,7.957
4,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.023
...,...,...,...,...
17512,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,178.533
17513,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,746.179
17514,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,458.884
17515,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,3.493
17516,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,115.054

In [76]:
train['FILTRO'] = 0.0
train

,Pais,Clasificacion,Año,FILTRO
0,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.0
1,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.0
2,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.0
3,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.0
4,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,0.0
...,...,...,...,...
17512,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,0.0
17513,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,0.0
17514,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,0.0
17515,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,0.0
17516,"Venezuela, Bolivarian Republic of","Economic activity (ISIC-Rev.3.1), 2 digit leve...",2017,0.0

In [77]:
#volvemos a verificar nulos
train.isnull().sum()

Pais             0
Clasificacion    0
Año              0
FILTRO           0
dtype: int64

In [54]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [56]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jampe\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [78]:
from textblob.classifiers import NaiveBayesClassifier

with open('data_entrenada.json', 'r') as fp: # Se abre el archivo que contiene a la data entrenada
    cl=NaiveBayesClassifier(fp, format="json")  # se le asigna la variable cl
i=0
for f in range(train.shape[0]): #iteramos sobre los indices del dataframe
    try:
        estado = cl.classify(train.Clasificacion[f]) ### hacemos el análisis con la data entrenada
        if (estado =="1"):      ## si el resultado es igual a (1-->pertenece a lo requerido)
            i = i + 1           ## Se adjunta un contador, para saber cuantas tipos de trabajos hay
            train.FILTRO[f]=1         ### SE LE DA EL VALOR DE 0-->1, ESTO MAS ADELANTE NOS SERVIRÁ PARA HACER EL FILTRO

    except:
        Exception
print(i)

train=train[train["FILTRO"]>0]             #### CREAMOS UN DF CON EL MISMO NOMBRE, PERO CON LA CONDICION QUE SEA MAYOR QUE 0, OSEA 1

C:\Users\jampe\AppData\Local\Temp/ipykernel_216/1297771431.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.FILTRO[f]=1         ### SE LE DA EL VALOR DE 0-->1, ESTO MAS ADELANTE NOS SERVIRÁ PARA HACER EL FILTRO

153

In [79]:
train=train.sort_values("Clasificacion",False)
train

C:\Users\jampe\AppData\Local\Temp/ipykernel_216/582062700.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_values except for the argument 'by' will be keyword-only
  train=train.sort_values("Clasificacion",False)

,Pais,Clasificacion,Año,FILTRO
54,Bolivia,"Economic activity (ISIC-Rev.4), 2 digit level:...",2016,1.0
11792,Peru,"Economic activity (ISIC-Rev.4), 2 digit level:...",2013,1.0
11878,Peru,"Economic activity (ISIC-Rev.4), 2 digit level:...",2013,1.0
11965,Peru,"Economic activity (ISIC-Rev.4), 2 digit level:...",2013,1.0
12051,Peru,"Economic activity (ISIC-Rev.4), 2 digit level:...",2014,1.0
...,...,...,...,...
4611,Brazil,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,1.0
4699,Brazil,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,1.0
4787,Brazil,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,1.0
4171,Brazil,"Economic activity (ISIC-Rev.4), 2 digit level:...",2018,1.0
16743,Uruguay,"Economic activity (ISIC-Rev.4), 2 digit level:...",2020,1.0

Ahora tenemos la tabla preprocesada lista