## Librerías

In [17]:
# Import necessary libs

import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [18]:
# Columnas a mostrar
pd.options.display.max_columns = 50
pd.options.display.max_rows = 50

## Datos del dataset

In [19]:
df = pd.read_csv('data.csv',sep=',')
df

,C�DIGO DE OCUPACIONES,OCUPACIONES,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SETIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,Unnamed: 14
0,11001.0,"MARINA, OFICIALES",26.0,26.0,24.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,NaN
1,11002.0,"EJERCITO,OFICIALES",3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
2,11003.0,"AVIACION, OFICIAL",0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
3,12001.0,"MARINA, TECNICOS",15.0,16.0,13.0,12.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0,11.0,NaN
4,12002.0,"EJERCITO, TECNICOS",14.0,13.0,13.0,9.0,13.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4205,987024.0,"PEON DE CARGA, EMPRESAS DE MUDANZAS",7.0,7.0,7.0,6.0,6.0,6.0,6.0,10.0,8.0,5.0,5.0,5.0,NaN
4206,987025.0,PEON PORTUARIO,464.0,513.0,500.0,417.0,417.0,425.0,420.0,461.0,405.0,459.0,396.0,387.0,NaN
4207,999001.0,OCUPACION NO ESPECIFICADA,196425.0,197826.0,199481.0,196304.0,196577.0,194777.0,198955.0,201077.0,205763.0,208727.0,202736.0,201040.0,NaN
4208,0.0,SIN INFORMACI�N,3606.0,3657.0,3679.0,9761.0,15418.0,11060.0,9095.0,8751.0,8509.0,40509.0,8724.0,8637.0,NaN
4209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Análisis Exploratorio de los Datos (EDA)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4210 entries, 0 to 4209
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   C�DIGO DE OCUPACIONES  4209 non-null   float64
 1   OCUPACIONES            4203 non-null   object
 2   ENERO                  4209 non-null   float64
 3   FEBRERO                4209 non-null   float64
 4   MARZO                  4209 non-null   float64
 5   ABRIL                  4209 non-null   float64
 6   MAYO                   4209 non-null   float64
 7   JUNIO                  4209 non-null   float64
 8   JULIO                  4209 non-null   float64
 9   AGOSTO                 4209 non-null   float64
 10  SETIEMBRE              4209 non-null   float64
 11  OCTUBRE                4209 non-null   float64
 12  NOVIEMBRE              4209 non-null   float64
 13  DICIEMBRE              4209 non-null   float64
 14  Unnamed: 14            0 non-null      float64
dtypes: float64(14), object(1)
memory usage: 493.5+ KB

In [21]:
#CANTIDAD DE DATOS NULOS POR COLUMNA
df.isnull().sum()

C�DIGO DE OCUPACIONES       1
OCUPACIONES                 7
ENERO                       1
FEBRERO                     1
MARZO                       1
ABRIL                       1
MAYO                        1
JUNIO                       1
JULIO                       1
AGOSTO                      1
SETIEMBRE                   1
OCTUBRE                     1
NOVIEMBRE                   1
DICIEMBRE                   1
Unnamed: 14              4210
dtype: int64

In [22]:
df.shape

(4210, 15)

In [23]:
df.columns

Index(['C�DIGO DE OCUPACIONES', 'OCUPACIONES', 'ENERO', 'FEBRERO', 'MARZO',
       'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SETIEMBRE', 'OCTUBRE',
       'NOVIEMBRE', 'DICIEMBRE', 'Unnamed: 14'],
      dtype='object')

In [24]:
df.columns = ['COD_OCUPACIONES', 'OCUPACIONES', 'ENERO', 'FEBRERO', 'MARZO',
       'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SETIEMBRE', 'OCTUBRE',
       'NOVIEMBRE', 'DICIEMBRE', 'FILTRO']
df.columns

Index(['COD_OCUPACIONES', 'OCUPACIONES', 'ENERO', 'FEBRERO', 'MARZO', 'ABRIL',
       'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SETIEMBRE', 'OCTUBRE', 'NOVIEMBRE',
       'DICIEMBRE', 'FILTRO'],
      dtype='object')

In [25]:
df

,COD_OCUPACIONES,OCUPACIONES,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SETIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,FILTRO
0,11001.0,"MARINA, OFICIALES",26.0,26.0,24.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,NaN
1,11002.0,"EJERCITO,OFICIALES",3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
2,11003.0,"AVIACION, OFICIAL",0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
3,12001.0,"MARINA, TECNICOS",15.0,16.0,13.0,12.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0,11.0,NaN
4,12002.0,"EJERCITO, TECNICOS",14.0,13.0,13.0,9.0,13.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4205,987024.0,"PEON DE CARGA, EMPRESAS DE MUDANZAS",7.0,7.0,7.0,6.0,6.0,6.0,6.0,10.0,8.0,5.0,5.0,5.0,NaN
4206,987025.0,PEON PORTUARIO,464.0,513.0,500.0,417.0,417.0,425.0,420.0,461.0,405.0,459.0,396.0,387.0,NaN
4207,999001.0,OCUPACION NO ESPECIFICADA,196425.0,197826.0,199481.0,196304.0,196577.0,194777.0,198955.0,201077.0,205763.0,208727.0,202736.0,201040.0,NaN
4208,0.0,SIN INFORMACI�N,3606.0,3657.0,3679.0,9761.0,15418.0,11060.0,9095.0,8751.0,8509.0,40509.0,8724.0,8637.0,NaN
4209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df = df.dropna(how='all') #ELIMINAMOS FILAS QUE TENGAN TODOS SUS VALORES NULOS
df = df[df['OCUPACIONES'].notna()]#ELIMINAMOS FILAS QUE TENGAN VALOR NULO EN LA COLUMNA OCUPACIONES
df = df.drop(columns=['COD_OCUPACIONES' ])#eliminamos columnas irrelevantes
df=df.fillna({'FILTRO':0}) ## rellenamos la ultima columna con valores 0
df

,OCUPACIONES,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SETIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,FILTRO
0,"MARINA, OFICIALES",26.0,26.0,24.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,0.0
1,"EJERCITO,OFICIALES",3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0
2,"AVIACION, OFICIAL",0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,"MARINA, TECNICOS",15.0,16.0,13.0,12.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0,11.0,0.0
4,"EJERCITO, TECNICOS",14.0,13.0,13.0,9.0,13.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,"PEON DE CARGA, BUQUES CISTERNA/LIQUIDOS",26.0,27.0,27.0,22.0,24.0,25.0,29.0,31.0,30.0,30.0,24.0,26.0,0.0
4205,"PEON DE CARGA, EMPRESAS DE MUDANZAS",7.0,7.0,7.0,6.0,6.0,6.0,6.0,10.0,8.0,5.0,5.0,5.0,0.0
4206,PEON PORTUARIO,464.0,513.0,500.0,417.0,417.0,425.0,420.0,461.0,405.0,459.0,396.0,387.0,0.0
4207,OCUPACION NO ESPECIFICADA,196425.0,197826.0,199481.0,196304.0,196577.0,194777.0,198955.0,201077.0,205763.0,208727.0,202736.0,201040.0,0.0
4208,SIN INFORMACI�N,3606.0,3657.0,3679.0,9761.0,15418.0,11060.0,9095.0,8751.0,8509.0,40509.0,8724.0,8637.0,0.0

In [27]:
df.isnull().sum()#no hay nulos

OCUPACIONES    0
ENERO          0
FEBRERO        0
MARZO          0
ABRIL          0
MAYO           0
JUNIO          0
JULIO          0
AGOSTO         0
SETIEMBRE      0
OCTUBRE        0
NOVIEMBRE      0
DICIEMBRE      0
FILTRO         0
dtype: int64

In [28]:
from textblob.classifiers import NaiveBayesClassifier

with open('data_entrenada.json', 'r') as fp: #### Se abre el archivo que contiene a la data entrenada
    cl=NaiveBayesClassifier(fp, format="json")  ### se le asigna la variable cl

i=0
for f in range(df.shape[0]):###iteramos sobre los indices del dataframe
    try:
        estado = cl.classify(df.OCUPACIONES[f]) ### hacemos el análisis con la data entrenada
        if (estado =="1"):      ## si el resultado es igual a (1-->pertenece a lo requerido)
            i = i + 1           ## Se adjunta un contador, para saber cuantas tipos de trabajos hay
            df.FILTRO[f]=1         ### SE LE DA EL VALOR DE 0-->1, ESTO MAS ADELANTE NOS SERVIRÁ PARA HACER EL FILTRO

    except:
        Exception
print(i)

df=df[df["FILTRO"]>0]             #### CREAMOS UN DF CON EL MISMO NOMBRE, PERO CON LA CONDICION QUE SEA MAYOR QUE 0, OSEA 1

30

In [29]:
df=df.sort_values("OCUPACIONES",False)
df

,OCUPACIONES,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SETIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,FILTRO
382,"ADMINISTRADOR, BANCO DE DATOS",463.0,453.0,447.0,444.0,451.0,442.0,452.0,443.0,440.0,427.0,435.0,423.0,1.0
383,"ANALISTA, SISTEMAS INFORMATICOS",9459.0,9527.0,9553.0,9619.0,9590.0,9534.0,9578.0,9523.0,9550.0,9416.0,9656.0,9659.0,1.0
384,"ANALISTA, SISTEMAS INFORMATICOS/BANCO DE DATOS",853.0,826.0,820.0,810.0,808.0,792.0,805.0,802.0,798.0,782.0,793.0,785.0,1.0
385,"ANALISTA, SISTEMAS INFORMATICOS/COMPUTADORAS",1728.0,1745.0,1756.0,1780.0,1795.0,1774.0,1789.0,1791.0,1802.0,1750.0,1769.0,1765.0,1.0
386,"ANALISTA, SISTEMAS INFORMATICOS/TELECOMUNICACI...",601.0,617.0,620.0,618.0,633.0,626.0,634.0,647.0,642.0,632.0,645.0,638.0,1.0
387,"ANALISTAS, TRANSMISIONES/SISTEMAS INFORMATICOS",243.0,246.0,252.0,257.0,258.0,260.0,257.0,249.0,250.0,256.0,251.0,242.0,1.0
517,"CREADOR, SISTEMAS/EXCEPTO INFORMATICOS",25.0,22.0,22.0,24.0,25.0,25.0,25.0,26.0,25.0,25.0,27.0,29.0,1.0
241,"DIRECTOR DE DEPARTAMENTO, INFORMATICA",163.0,163.0,168.0,173.0,175.0,171.0,174.0,175.0,174.0,166.0,176.0,175.0,1.0
436,INGENIERO DE ORDENADORES ELECTRONICOS,38.0,41.0,40.0,37.0,38.0,38.0,38.0,37.0,39.0,39.0,39.0,38.0,1.0
389,"INGENIERO, APLICACIONES DE LA INFORMATICA",361.0,357.0,361.0,364.0,366.0,360.0,352.0,288.0,288.0,289.0,296.0,298.0,1.0
388,"INGENIERO, SISTEMAS INFORMATICOS",6836.0,6880.0,6928.0,6996.0,7044.0,7043.0,7170.0,7300.0,7400.0,7314.0,7324.0,7312.0,1.0
516,"INGENIERO, SISTEMAS/EXCEPTO INFORMATICOS",285.0,281.0,291.0,288.0,299.0,292.0,292.0,290.0,291.0,287.0,282.0,280.0,1.0
3483,MONTADOR DE CLISES SOBRE SOPORTE,14.0,18.0,18.0,21.0,23.0,24.0,24.0,26.0,25.0,24.0,24.0,21.0,1.0
1266,"OPERADOR, ALMACENAMIENTO DE DATOS",1049.0,1013.0,1010.0,1062.0,1062.0,1079.0,1079.0,1103.0,1141.0,1110.0,1167.0,1271.0,1.0
1796,"OPERADOR, COMPUTADORA",384.0,432.0,433.0,441.0,447.0,446.0,453.0,457.0,461.0,450.0,439.0,449.0,1.0
1264,"OPERADOR, EQUIPOS INFORMATICOS/COMPUTADORAS",1885.0,1970.0,2106.0,2151.0,2186.0,2146.0,2142.0,2158.0,2145.0,2113.0,2182.0,2162.0,1.0
1265,"OPERADOR, EQUIPOS INFORMATICOS/UNIDADES PERIFE...",179.0,176.0,172.0,165.0,154.0,154.0,153.0,159.0,156.0,150.0,156.0,150.0,1.0
738,"PROFESOR, EDUCACION SUPERIOR/INFORMATICA",83.0,93.0,114.0,123.0,121.0,122.0,124.0,123.0,128.0,127.0,128.0,122.0,1.0
1255,"PROGRAMADOR, CODIFICADOR DE LOS PROGRAMAS",218.0,213.0,214.0,209.0,212.0,211.0,217.0,221.0,237.0,251.0,260.0,260.0,1.0
1256,"PROGRAMADOR, DESARROLLO DE LA LOGICA DEL PROCESO",284.0,275.0,267.0,254.0,255.0,257.0,254.0,259.0,267.0,260.0,259.0,259.0,1.0
1258,"PROGRAMADOR, INFORMATICA/ANALISIS DE BASE DE D...",616.0,627.0,629.0,629.0,634.0,640.0,682.0,694.0,711.0,700.0,706.0,699.0,1.0
1259,"PROGRAMADOR, INFORMATICA/ANALISIS DE SISTEMAS",2267.0,2266.0,2279.0,2284.0,2326.0,2342.0,2377.0,2406.0,2400.0,2379.0,2365.0,2362.0,1.0
1257,"PROGRAMADOR, INFORMATICA/POR COMPUTADORA",1286.0,1299.0,1289.0,1349.0,1360.0,1378.0,1414.0,1431.0,1439.0,1381.0,1466.0,1466.0,1.0
1260,"PROGRAMADOR, PRUEBA Y EJECUCION DEL PROGRAMA E...",142.0,134.0,131.0,133.0,129.0,129.0,128.0,128.0,126.0,133.0,133.0,138.0,1.0
1261,"TECNICO, ANALISIS INFORMATICO",915.0,929.0,936.0,953.0,979.0,978.0,991.0,1012.0,1023.0,1031.0,1052.0,1048.0,1.0
1268,"TECNICO, CONTROL DE EQUIPOS INFORMATICOS",1029.0,1037.0,1052.0,1067.0,1071.0,1071.0,1071.0,1074.0,1072.0,1056.0,1043.0,1035.0,1.0
1262,"TECNICO, PROGRAMACION POR COMPUTADORAS",1315.0,1327.0,1330.0,1309.0,1328.0,1326.0,1335.0,1322.0,1327.0,1312.0,1323.0,1299.0,1.0
1263,"TECNICO, SERVICIOS INFORMATICOS PARA USUARIOS",1996.0,2016.0,2009.0,2016.0,2000.0,1982.0,1976.0,1967.0,1991.0,1964.0,1948.0,1926.0,1.0
1250,"TECNICO, SISTEMAS/EXCEPTO INFORMATICOS",1361.0,1346.0,1335.0,1311.0,1330.0,1335.0,1338.0,1362.0,1386.0,1378.0,1301.0,1294.0,1.0
1793,TIPEO POR COMPUTADORA,84.0,86.0,89.0,89.0,91.0,88.0,93.0,89.0,88.0,91.0,95.0,96.0,1.0

In [30]:
df.to_csv('data_filtrada.csv', index=False) ##se exporta el dataframe a un csv